* {
	font-family: Inconsolata, "Roboto Mono", "Noto Mono", Menlo, monospace;
}

h1,
h2,
h3 {
	color: #FFF;
}

h4,
h5,
h6 {
	color: #C8C8C8;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #F36;
	font-weight: bold;
}

a:hover {
	color: #F90;
	font-style: italic;
}

::moz-selection {
	color: white;
	background: #F36;
}
::selection {
	color: white;
	background: #F36;
}

body {
	background: #181818;
	color: #888;
}

header {
	background-color: rgba(24, 24, 24, 1);
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-left: 1em;
}

nav ul,
nav li {
	list-style: none;
	display: inline-table;
	margin-right: 2.5em;
}

nav a:active {
	color: #181818;
	background-color: #F36;
}

#page_nav {
	padding-top: 1em;
	text-align: center;
}

main {
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 3em;
	padding-left: 1em;
	margin: 3em auto 3em auto;
	max-width: 55em;
}

article {
}

aside {
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 3em;
	margin: 3em auto 3em auto;
	max-width: 55em;
}

footer {
	background-color: rgba(24, 24, 24, 1);
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding-left: 3em;
	margin-right: 10px;
	clear: both;
}

pre {
	overflow: auto;
	padding: .5em;
}

.highlight {
	border-radius: .5em;
}

.chroma {
	overflow-y: auto;
	max-height: 45em;
}

.ilc {
	background: #282828;
	color: #ebdbb2;
	line-height: 1.4;
	padding: 0.1em 0.2em 0.1em 0.2em;
}

time {
	color: #C8C8C8;
}

#timestamp {
	position: fixed;
	top: 1em;
	right: 1em;
}

.time {
	padding: 0em 0em .5em 0em;
}

#entry {
	text-align: center;
	color: #f5f5f5;
	padding-top: 10em;
	padding-bottom: 10em;
}

#entry a {
	color: #fff;
}

#entry a:hover,
#entry a:active {
	padding: 0.3em;
}

#bg	{
	background-image: url("../images/gloom.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.page {
	margin: 1em;
}

.break {
	overflow-wrap: break-word;
}

@media only screen
and (min-width: 300px)
and (max-width: 900px)
and (orientation: landscape) {

	nav ul,
	nav li {
		padding-left: 0;
	}

	footer {
		padding-left: 1em;
	}
}

@media only screen
and (max-width: 700px)
and (orientation: landscape) {

	#timestamp {
		display: none;
	}

}

@media only screen
and (min-width: 300px)
and (max-width: 62em)
and (orientation: portrait)
/*and (-webkit-min-device-pixel-ratio: 3.0)*/ {

	body {
		margin-bottom: 4.5em;
		background-position: 0% 0%;
	}

	nav ul,
	nav li {
		display: list-item;
		padding-left: 0;
	}

	main {
		padding-top: 3em;
	}

	article {
	}

	footer {
		padding-left: 1em;
		margin: auto;
	}

}
