* {
    font-family: Inconsolata, "Noto Mono", monospace;
}

body {
    color: #888;
    background: #181818;
    max-width: 50em;
}

.frontmatter h3 {
    color: #C8C8C8;
}

h1,
h2,
h3 {
    color: #FFF;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #F36;
    font-weight: bold;
}

a:hover {
    color: #f90;
}

pre {
    overflow:auto;
}
