* {
    font-family: Inconsolata, "Roboto Mono", "Noto Mono", monospace;
}

#main {
    margin: 3em;
}

body {
    margin: 3em;
    color: #888;
    background: #181818;
    background-position: 0% 10%;
    max-width: 50em;
    padding: 1em 0em 1em 0em;
}

.frontmatter h3 {
    color: #C8C8C8;
}

h1,
h2,
h3 {
    color: #FFF;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #F36;
    font-weight: bold;
}

a:hover {
    color: #f90;
    font-style: italic;
}

pre {
    overflow:auto;
}

nav ul, nav li {
    list-style: none;
    display: inline-table;
    margin-right: 3em;
}

nav a:active {
    color: #181818;
    background-color: #F36
}

header {
    background-color: #181818;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 1em;
}
footer {
    background-color: #181818;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-left: 3em;
    margin-right: 10px;
    clear: both;
}

.left_wing {
    display: inline;
    position: fixed;
    left: 20px;
    padding-left: 3%;
    margin-right: 20px!important;
}

.right_wing {
    display: inline;
    position: fixed;
    right: 20px;
    padding-right: 3%;
    margin-left: 20px!important;
}

.right_wing ul, .right_wing li {
    list-style: none;
}

.page {
    font-weight: bolder;
}

.paginate {
    display: inline-block;
    position: relative;
    float: right;
    margin: 1em 0 0 0;
}
.time {
    padding: 0em 0em .5em 0em;
}
time {
    color: #C8C8C8;
}

@media only screen
and (min-width: 360px)
and (orientation: portrait)
/*and (-webkit-min-device-pixel-ratio: 3.0)*/ {
    * {
        word-wrap: break-word;
    }

    body {
        margin-left: 1em;
        margin-right: 1em;
        padding: auto;
        background-position: 0% 0%;
    }

    article {
        padding-top: 2em;
    }
    footer {
        word-wrap: break-word;
        padding-left: 0.5em;
        margin: auto;
    }
    .right_wing {
        position: fixed;
        right: auto;
        top: 50%;
        margin-left: auto;
        padding-right: auto;
        padding-bottom: 3.5em;
    }
    .right_wing ul {
        padding-left: 10px;
    }
    nav ul, nav li {
        display: list-item;
        padding-left: 0px;
    }
}
